* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flow-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.no-flow-selected,
.loading,
.something-went-wrong {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new-node-btn {
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
}
.add-new-node-btn:hover {
  border: 3px solid black;
  background-color: white;
}

/* Flow name and progress buttons */
.flow-name-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #c2c1c1, #ffffff);
}

.path-name {
  color: rgb(87, 85, 85);
  font-size: 35px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

/* Update path name*/
.update-path-name-container {
  display: flex;
  width: 80%;
}

.path-name-input {
  font-size: 35px;
  font-weight: bold;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: white;
  width: 100%;
}

.update-path-name-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}

.update-path-name-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-left: 20px;
}

.confirm-update-name {
  color: green;
}

.cancel-update-name {
  color: red;
}

.update-path-name-button:hover {
  background-color: rgb(161, 161, 161);
  border-radius: 50%;
}

.edit-path-name-error {
  color: rgb(233, 110, 110);
  padding-top: 5px;
  font-weight: bold;
}

/* Change progress button*/
.change-progress-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.change-progress-btn {
  border: none;
  outline: none;
  text-transform: capitalize;
  background-color: lightgray;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px;
  width: 100px;
  border-radius: 5px;
  color: gray;
  opacity: 70%;
}

.change-progress-btn:not(.current-progress) {
  cursor: pointer;
}

.current-progress {
  opacity: 100%;
  color: black;
  font-weight: bold;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.change-progress-btn:hover:not(.current-progress) {
  background-color: white;
  color: black;
  border: 1px solid gray;
  opacity: 100%;
}

/* Flowchart nodes*/
.node-container {
  visibility: visible;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  padding: 15px;
  min-width: 150px;
  max-width: 250px;
  max-height: 100px;
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.node-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.node-title {
  overflow: hidden;
}

.edit-node-symbol {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;
  cursor: pointer;
  visibility: hidden;
  font-size: 20px;
}

.node-container:hover .edit-node-symbol {
  visibility: visible;
}

.in-progress {
  background-color: rgb(170, 233, 170);
}

.pending {
  background-color: rgb(248, 220, 150);
}

.completed {
  background-color: rgb(177, 197, 214);
}

.terminated {
  background-color: rgb(218, 215, 215);
}

/* Drag handle */
.dragHandle {
  height: 20px;
  width: 100%;
  border-radius: 0;
  border: none;
  outline: none;
  opacity: 0%;
  background-color: gray;
}

.dragHandle-top {
  transform: translate(-50%, -40%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dragHandle-bottom {
  transform: translate(-50%, 40%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dragHandle:hover {
  opacity: 40%;
}

@media (max-width: 900px) {
}
