.user-home {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.edit-node-form-container {
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
